.header {
  margin: 50px;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

img {
  width: 80vw;
  z-index: -1;
}

.selectedWorks {
  margin: 50px;
  display: block;
  position: absolute;
  margin-top: 20vh;
  font-family: helvetica;
}

h2 {
  font-size: 30px;
  padding-bottom: 15px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 20px;
  padding-bottom: 15px;
  line-height: 1.4;
}

button {
  position: fixed;
  margin-top: 80vh;
  margin-left: 70vw;
  background-color: white;
   border: box;
   color: black;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   transition-duration: 0.4s;

}

.button:hover {
  background-color: SlateGray;
  color: white;
  cursor: pointer;
}
