.left {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.right {
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
#bee {
  transition: transform .1s
  max-height: 10%
  max-width: 10%;
  z-index: 100;
}

.header {
  max-height: 20vh;
  display: block;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: white;
  z-index: 5;
  top: 0;
}

#jack {
  width: 80vw;
  height: auto;
  object-fit: contain;
  padding: 8vh 10vw;
}

.selectedWorks {
  padding-left: 10vw;
  display: block;
  position: absolute;
  margin-top: 20vh;
  font-family: 'IM Fell DW Pica', serif;
}

h2 {
  font-size: 30px;
  padding-bottom: 15px;
  font-family: 'IM Fell DW Pica', serif;
}

h3 {
  font-size: 20px;
  font-family: 'IM Fell DW Pica', serif;
}

p {
  font-size: 18px;
  padding-bottom: 15px;
  line-height: 1.75;
  font-family: 'IM Fell DW Pica', serif;
}

.contact-container {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 15vw;
  margin-top: 85vh;
  margin-left: 75vw;
  margin-right: 10vw;
}

button.contact {
  background-color: white;
  border: box;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

button.contact:hover {
  background-color: aliceblue;
  color: blue;
  cursor: pointer;
}

.button {
  background-color: transparent;
  transition-duration: all 1s ease-in-out
}

.button:hover {
  cursor: pointer;
  background-color: transparent;
}

#sayItHidden {
  width: 20vw;
  height: 20vw;
  display: none;
  position: absolute;
  padding-left: 60vw;
  padding-right: 10vw;
  top: 0;
  object-fit: cover;
  z-index: -1;
}

#sayIt:hover + #sayItHidden {
  cursor: pointer;
  display: block;
  position: absolute;
}

#colorSongHidden {
  width: 20vw;
  height: 20vw;
  display: none;
  position: absolute;
  padding-left: 60vw;
  padding-right: 10vw;
  top: 0;
  object-fit: cover;
  z-index: -1;
}

#colorSong:hover + #colorSongHidden {
  cursor: pointer;
  display: block;
  position: absolute;
}

#belvedereHidden {
  width: 20vw;
  height: 20vw;
  display: none;
  object-fit: cover;
  z-index: -1;
}

#parkMusicHidden {
  width: 20vw;
  height: 20vw;
  display: none;
  position: absolute;
  padding-left: 60vw;
  padding-right: 10vw;
  top: 0;
  object-fit: cover;
  z-index: -1;
}

#parkMusic:hover + #parkMusicHidden {
  cursor: pointer;
  display: block;
  position: absolute;
}

.collapsibleM {
  height: 15vh;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  background-color: transparent;
  font-family: 'IM Fell DW Pica', serif;
}

.collapsibleT {
  height: 15vh;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  background-color: transparent;
  font-family: 'IM Fell DW Pica', serif;
}

.collapsibleS {
  height: 15vh;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  background-color: transparent;
  font-family: 'IM Fell DW Pica', serif;
}

.collapsibleHaim {
  height: 15vh;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  background-color: transparent;
  font-family: 'IM Fell DW Pica', serif;
}

.collapsibleK {
  height: 15vh;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  background-color: transparent;
  font-family: 'IM Fell DW Pica', serif;
}

.active {
  color: #009900;
  font-style: italic;
  background-color: transparent;
}

.collapsibleM:hover {
  color: #009900;
  background-color: transparent;
}

.collapsibleT:hover {
  color: #009900;
  background-color: transparent;
}

.collapsibleS:hover {
  color: #009900;
  background-color: transparent;
}

.collapsibleHaim:hover {
  color: #009900;
  background-color: transparent;
}

.collapsibleK:hover {
  color: #009900;
  background-color: transparent;
}

.content {
  padding: 5px;
  line-height:
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .selectedWorks {
    margin-top: 15vh;
  }
}
