.header {
  margin: 50px;
  padding-bottom: 10vh;
  width: 70vw;
  display: block;
  justify-content: center;
  align-items: center;
  position: fixed;
}

img {
  width: 80vw;
  z-index: -1;
}

.selectedWorks {
  margin-left: 50px;
  display: block;
  position: absolute;
  margin-top: 20vh;
  font-family: 'IM Fell DW Pica', serif;
}

h2 {
  font-size: 30px;
  padding-bottom: 15px;
  font-family: 'IM Fell DW Pica', serif;
}

h3 {
  font-size: 20px;
  font-family: 'IM Fell DW Pica', serif;
}

p {
  font-size: 18px;
  padding-bottom: 15px;
  line-height: 1.75;
  font-family: 'IM Fell DW Pica', serif;
}

#contact {
  position: fixed;
  margin-top: 80vh;
  margin-left: 70vw;
  background-color: white;
  border: box;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition-duration: 0.4s;
}

.button {
  background-color: transparent;
}

.button:hover {
  cursor: pointer;
  background-color: transparent;
}


.collapsibleM {
  height: 15vh;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  background-color: transparent;
  font-family: 'IM Fell DW Pica', serif;
}

.collapsibleT {
  height: 15vh;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  background-color: transparent;
  font-family: 'IM Fell DW Pica', serif;
}

.collapsibleS {
  height: 15vh;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  background-color: transparent;
  font-family: 'IM Fell DW Pica', serif;
}

.collapsibleHaim {
  height: 15vh;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  background-color: transparent;
  font-family: 'IM Fell DW Pica', serif;
}

.collapsibleK {
  height: 15vh;
  font-size: 30px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  background-color: transparent;
  font-family: 'IM Fell DW Pica', serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  color: #9fdf9f;
  font-style: italic;
  background-color: transparent;
}

.collapsibleM:hover {
  color: #9fdf9f;
  background-color: transparent;
}

.collapsibleT:hover {
  color: #79d279;
  background-color: transparent;
}

.collapsibleS:hover {
  color: #53c653;
  background-color: transparent;
}

.collapsibleHaim:hover {
  color: #39ac39;
  background-color: transparent;
}

.collapsibleK:hover {
  color: #2d862d;
  background-color: transparent;
}
/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 5px;
  line-height:
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
